<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="backGo()"><img ng-src="img/back.png" style="height: 20px;margin: 6px;"/></button>
    </ion-nav-buttons>
    <ion-nav-title class="nav-title-ud">全部订单</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="jgCanceledOrders"><span style="color:grey;font-size: 13px;font-family: 黑体;margin-right: 5px;">已取消订单</span></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="doRefresh_all_jgOrder()"
                       pulling-text="下拉刷新..."
                       refreshing-text="正在刷新..."
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <ion-item style="padding: 3px;border: 1px solid #D7CFCF;margin: 10px 5px 0px 5px;">
            <div class="row row-center">
                <div class="col col-50 room-name-ud">{{sname}}&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</div>
                <div class="col col-50 room-yuyue-tongji-ud text-right">订单总数&nbsp;<span class="span-color-ud">{{total_yuyue}}</span>&nbsp;笔</div>
                <!--<div class="col icon ion-chevron-up" style="margin-left:10%;display: none;" ng-click="expand_order('{{$index}}')" id="up_arrow{{$index}}"></div>-->
                <!--<div class="col icon ion-chevron-down" ng-click="collapse_order('{{$index}}')" style="margin-left:10%;" id="down_arrow{{$index}}"></div>-->
            </div>
            <div class="list">
                <div class="row expand-title-ud">
                    <div class="col text-center">序号</div>
                    <div class="col col-33 text-center">档期</div>
                    <div class="col text-center">客户</div>
                    <div class="col">时间</div>
                    <div class="col col-25 text-center">地点</div>
                </div>
                <div ng-repeat="item in allOrderList ">
                    <HR align=center width="100%" color=#D8D8D8 SIZE=1>
                    <div class="row item-body row-color-ud" ng-click="showOrderDetail(item.id,item.status,item.yuyue_type)">
                        <div class="col text-center">{{item.xuhao}}</div>
                        <div class="col col-33 text-center">{{item.dangqi}}</div>
                        <div class="col text-center" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{item.yonghu}}</div>
                        <div class="col">{{item.ytype}}</div>
                        <div class="col col-25 text-center" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{item.hotel}}</div>
                    </div>
                </div>
            </div>
        </ion-item>
        <div ng-show="showDiv" style="text-align: center;font-family: 黑体;margin-bottom: 20px;color: grey;">没有更多啦...</div>
        <ion-infinite-scroll ng-if="!noMoredata" on-infinite="loadMore()" distance="10%" immediate-check="true"></ion-infinite-scroll>
    </ion-content>
</ion-view>
<script id="jgCanceledOrders.html" type="text/ng-template">
    <ion-view hide-back-button="true">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="backGo()"><img ng-src="img/back.png" style="height: 20px;margin: 6px;"/></button>
        </ion-nav-buttons>
        <ion-nav-title class="nav-title-ud">已取消订单</ion-nav-title>
        <ion-content>
            <ion-refresher on-refresh="doRefresh_canceled_jgOrder()"
                           pulling-text="下拉刷新..."
                           refreshing-text="正在刷新..."
                           refreshing-icon="ion-loading-c">
            </ion-refresher>
            <ion-item style="padding: 3px;border: 1px solid #D7CFCF;margin: 10px 5px 0px 5px;">
                <div class="row row-center">
                    <div class="col col-50 room-name-ud">{{sname}}&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</div>
                    <div class="col col-50 room-yuyue-tongji-ud text-right">订单总数&nbsp;<span class="span-color-ud">{{total_yuyue}}</span>&nbsp;笔</div>
                    <!--<div class="col icon ion-chevron-up" style="margin-left:10%;display: none;" ng-click="expand_order('{{$index}}')" id="up_arrow{{$index}}"></div>-->
                    <!--<div class="col icon ion-chevron-down" ng-click="collapse_order('{{$index}}')" style="margin-left:10%;" id="down_arrow{{$index}}"></div>-->
                </div>
                <div class="list" id="orderDetail">
                    <div class="row expand-title-ud">
                        <div class="col text-center">序号</div>
                        <div class="col col-33 text-center">档期</div>
                        <div class="col text-center">客户</div>
                        <div class="col">时间</div>
                        <div class="col col-25 text-center">地点</div>
                    </div>
                    <div ng-repeat="item in canceledOrderList ">
                        <HR align=center width="100%" color=#D8D8D8 SIZE=1>
                        <div class="row item-body row-color-ud" ui-sref="completedOrderDetail({id:item.id,type:item.yuyue_type})">
                            <div class="col text-center">{{item.xuhao}}</div>
                            <div class="col col-33 text-center">{{item.dangqi}}</div>
                            <div class="col text-center" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{item.yonghu}}</div>
                            <div class="col">{{item.ytype}}</div>
                            <div class="col col-25 text-center" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{item.hotel}}</div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <div ng-show="showDiv" style="text-align: center;font-family: 黑体;margin-bottom: 20px;color: grey;">没有更多啦...</div>
            <ion-infinite-scroll ng-if="!noMoredata" on-infinite="loadMore()" distance="10%" immediate-check="true"></ion-infinite-scroll>
        </ion-content>
    </ion-view>
</script>